---
layout: page
title: Blog
description: "A juicy soup of data science, research, photography and more"
header-img: "img/bg-1.jpg"
category: menu
---

{% for post in site.posts %}
  {% if post.categories contains 'article' %}
		<div class="post-preview">
		    <a href="{{ post.url | prepend: site.baseurl }}">
		        <h2 class="post-title">            {{ post.title }}
		        </h2>
		        {% if post.subtitle %}
		        <h3 class="post-subtitle">
		            {{ post.subtitle }}
		        </h3>
		        {% endif %}
		    </a>
		    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
		</div>
		<hr>
  {% endif %}
{% endfor %}