<article class="tile" itemscope itemtype="http://schema.org/Article">

	{% if post.date %}
		<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
	{% endif %}<h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2></p>

	<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
	{% for gallery in site.data.galleries %}
		{% if gallery.id == post.galleryid %}
			{% for image in gallery.images limit:1 %}
				<div class="gallery_teaser">
					<img src="{{ gallery.imagefolder }}/{{ image.name }}" alt="teaser" itemprop="image">
				</div>
			{% endfor %}
		{% endif %}
    {% endfor %}


	  <!-- 	{% if post.image %}
	  		<div class="gallery_teaser">
	  			<img src="{{ site.url }}/img/{{ post.image }}" alt="teaser" itemprop="image">
	  		</div>
	  	{% else %}
	  		<div class="gallery_teaser">
				<img src="{{ site.url }}/img/{{ site.teaser }}" alt="teaser" itemprop="image">
			</div>
		{% endif %} -->
	</a>

  
</article><!-- /.tile -->